* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 55%;
    scroll-behavior: smooth;
}
  
body {
    font: normal normal 100% Open Sans, Helvetica, Sans-Serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}
  
h1, h2, h3, h4, h5, h6 {
    font: normal normal 100% Open Sans, Helvetica, Sans-Serif;
}
  
h1 {
    font-size: 3rem;
    text-transform: uppercase;
}
  
h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  line-height: 1.5;
} 

  
h3 {
    font-size: 4rem;
  }
  
h4 {
    font-size: 3.5rem;
}
  
h5 {
    font-size: 3rem;
}
  
h6 {
    font-size: 2.5rem;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

li {
    list-style: none;
}

main {
    display: block;
    unicode-bidi: isolate;
}

svg {
    display: inline-block;
    font-size: inherit;
    content: "";
    height: 100%;
    min-height: 24px;
    vertical-align: middle;
    width: 24px;
    margin-right: 9px;
}